<footer>

    <section class="section-footer-1">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-2 text-center">
            <img src="{{asset('images/7.png')}}" alt="icone légumes">
              </div>
                <div class="col-lg-8 text-center">
                  <h2>Bienvenue à notre Newsletter</h2>
                  <h3>Dernières Nouvelles</h3>
                  <p>Nous sommes ravis de partager avec vous les dernières nouvelles et mises à jour.</p>
                  <div class="newsletter-bar">
                    <input type="email" placeholder="Entrez votre email" required>
                    <button type="submit">S'inscrire</button>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="{{asset('images/8.png')}}" alt="icone légumes">
                </div>
              </div>
          </div>
        </div>
    </section>

  </footer>