<section class="section-main-2">
    <div class="container">
        <div class="row gx-5 mb-4 lg-12">
            <div class="col-lg-4 mb-lg-4">
                <div class="card">
                    <img src="{{asset('images/Carrot.webp')}}" alt="Salade" class="logo">
                    <div class="card-body">
                        <h3>Cake au Carotte</h3>
                        <p class="card-text">Ce gâteau aux carottes est parfait pour célébrer toute occasion spéciale ou pour offrir un goûter réconfortant. Il est encore meilleur le lendemain, les saveurs ayant eu le temps de se mélanger davantage.</p>
                        <button type="button" class="btn btn-primary" data-mdb-ripple-init>VOIR LA FICHE</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-4">
              <div class="card">
                <img src="{{asset('images/rhubarbe.webp')}}" alt="Carottes" class="logo">
                <div class="card-body">
                  <h3>Cake Rhubarbe Amande. </h3>
                  <p class="card-text">Ce gâteau rhubarbe-amande est idéal pour un dessert de printemps ou d'été, profitant pleinement de la saisonnalité de la rhubarbe. Il peut être servi à l'heure du thé ou comme dessert après un repas.</p>
                  <button type="button" class="btn btn-primary" data-mdb-ripple-init>VOIR LA FICHE</button>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-lg-4">
              <div class="card">
                <img src="{{asset('images/poire.webp')}}" alt="basilic" class="logo">
                <div class="card-body">
                  <h3>Compote de Poire.</h3>
                  <p class="card-text">Cette compote de poire est excellente servie seule, mais elle peut également accompagner du yaourt, du porridge ou des crêpes pour un petit-déjeuner ou un dessert léger et satisfaisant.</p>
                  <button type="button" class="btn btn-primary" data-mdb-ripple-init>VOIR LA FICHE</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>