<header>
    <section class="section-heading-1">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-1 text-center">
            <div class="logo">
              <img src="{{asset('images/1.png')}}" alt="logo" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-1 text-center">
          </div>
          <div class="col-lg-1 text-center">
            <form class="d-flex justify-content-center" role="navigation">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link nav-link-large" href="#">Accueil</a>
                </li>
              </ul>
            </form>
          </div>
          <div class="col-lg-1 text-center">
            <form class="d-flex justify-content-center" role="navigation">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link nav-link-large" href="#">Les Fiches</a>
                </li>
              </ul>
            </form>
          </div>
          <div class="col-lg-1 text-center">
            <form class="d-flex justify-content-center" role="navigation">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link nav-link-large" href="#">Contact</a>
                </li>
              </ul>
            </form>
          </div>
          <div class="col-lg-4 text-center">
          </div>
          <div class="col-lg-1 text-center">
            <img src="{{asset('images/3.png')}}" alt="icone bocal">
          </div>
          <div class="col-lg-2 text-center">
            <button type="button" class="btn btn-orange">
              <i class="bi bi-person"></i> IDENTIFIEZ-VOUS
          </button>
        </div>
        
        </div>
      </div>
    </section>

    <section class="section-heading-2">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="imageHeader">
            <img src="{{asset('images/header.png')}}" alt="jardinage" class="img-fluid">
          </div>
        </div>
      </div>
    </section>  

  </header>